@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Playfair+Display:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Lato:wght@300;400;700&display=swap');

@font-face {
  font-family: 'Hulkbusters';
  src: url('../../public/fonts/hulk.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Hulkbusters3D';
  src: url('../../public/fonts/hulk3d2.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}